.title {
  text-align: center;
  width: 30vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
  border-radius: 10px 10px 0 0;
  font-size: 2.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title2 {
  font-size: 1.5rem;
}

.centerCard {
  display: flex;
  justify-content: center;  /* Horizontal center */
  align-items: center;      /* Vertical center */
  width: 100vw;
  height: 100vh;            /* Full viewport height */
  background-color: #cde4f5;
}

.phish{
  width: 15vw;
  height: 15vw;
}

.bigtitle{
  font-size: 2.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;      /* Vertical center */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 60%;
}

input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
}

button {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  font-weight: bold;
  color: white;
  background-color: #3083c4;
}